.sticky-nav {
  position: fixed;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  top: 0;
  z-index: 999;
}

.banner {
  background-color: #ba576f;
  width: 100%;
}

.intro {
  background-color: white;
  width: 100%;
}

.about {
  background-color: #ba576f;
  width: 100%;
}

.download {
  background-color: white;
  width: 100%;
}

.contact {
  background-color: #ba576f;
  width: 100%;
}

.form {
  text-align: center;
}
