.messages-text {
  color: #ba576f;
}

.messages-image {
  max-height: 80%;
  max-width: 80%;
}

.lighter-font {
  font-weight: 300;
}

.text-align {
  display: flex;
  align-items: center;
  justify-content: right;
}

.image-align {
  display: flex;
  align-items: center;
  justify-content: right;
}
