.banner-text {
    color: white;
}

.banner-image {
    max-width: 100%;
}

.text-align {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-align {
    display: flex;
    align-items: center;
    justify-content: right;
}