.home-text {
    color: #ba576f;
}

.home-image {
    max-height: 80%;
    max-width: 80%;
}

.text-align {
    align-items: center;
    justify-content: center;
}

.image-align {
    justify-content: center;
    align-items: flex-end;
}

.lighter-font {
    font-weight: 300;
}

.shrink-row {
    max-height: 0%;
}