.requests-text {
    color: white;
    font-weight: lighter;
}

.requests-image {
    max-width: 100%;
}

.text-align {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-align {
    display: flex;
    align-items: right;
    justify-content: right;
}